@font-face {
    font-family: 'Poor-Story';
    src: url('./font/PoorStory-Regular.ttf');
}

html {
    background-color: #eeeeee;
    font-size: large;
    font-family: 'Poor-Story';
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #114C5B;
    margin-bottom: 10px;
}
.header p {
    margin: 24px;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-top: 2px solid #114C5B;
}
footer a {
    align-items: center;
    padding: 10px;
}
footer img:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.3s ease;
}

#todoSectionTitle, .header {
    color: #B18c3E;
    font-weight: 600;
    font-size: xxx-large;
}

.content {
    display: flex;
    gap: 20px;
    height: 80vh;
}

img {
    width: 25px;
}

button {
    border: none;
    background-color: #B18c3E;
    color: #114C5B;
    font-family: 'Poor-Story';
    font-size:medium;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
button:hover, .projectFolder > p:hover, .itemCard img:hover, img:hover {
    cursor: pointer;
}
button:active {
    border: 1px solid #114C5B;
}
#edit:active, #delete:active, .exitBtn:active, #exit:active {
    filter: invert(100%) sepia(73%) saturate(7045%) hue-rotate(179deg) brightness(118%) contrast(104%);
}
.projectFolder img, footer img {
    filter: invert(23%) sepia(26%) saturate(1261%) hue-rotate(145deg) brightness(95%) contrast(93%);
}

.sidePannel {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    flex-shrink: 0;
    height: 100%;
}
.sidePannel .createNewProject {
    height: 3rem;
    align-self: center;
}
.sidePannelContainer, .todoSection {
    background-color: #BBB9BA;
}
.sidePannelContainer, .todoSection, .createTodoButton, .todoItems, .itemCard {
    padding: 20px;
}
.sidePannelContainer, .todoSection, .todoItemCreation, .projectCreation, .itemCardEditing, .itemCard {
    border-radius: 1rem;
}
.projects {
    max-width: 100%;
}
.projectFolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-bottom: 0;
    gap: 10px;
}
.projectFolder > p {
    border: 2px solid #114C5B;
    background-color: #114C5B;
    color: #BBB9BA;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px;
    margin: 0;
    width: 90%;
    overflow: hidden;
}
.projectFolder > p:hover {
    background-color: #235E6D;
    border: 2px solid #235E6D;
}
.projectFolder > p:active {
    border: 2px solid #B18c3E;
}

.todoItemCreation, .projectCreation, .itemCardEditing {
    background-color: #347788;
    display: none;
    position: absolute;
    justify-content: flex-end;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    z-index: 1;
    height: 12rem;
}
.projectCreationInput, .todoItemCreationInput {
    display: flex;
    flex-shrink: 0;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.projectCreationInput p {
    color: lightgray;
    margin: 0;
    font-size: large;
    margin-bottom: 5px;
}
.projectCreationInput > input, .itemCardEditing input, .todoItemCreationInput input {
    color: #114C5B;
    background-color: #BBB9BA;
    border: none;
    font-size: medium;
    text-align: center;
}
.projectCreationInput > input:focus, .itemCardEditing input:focus, .todoItemCreationInput input:focus {
    outline: none;
}
.exitBtn, #exit {
    filter: invert(87%) sepia(5%) saturate(68%) hue-rotate(277deg) brightness(89%) contrast(81%);
}
.exitBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.currentProject {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: xxx-large;
    padding-left: inherit;
    padding-right: inherit;
    align-items: center;
    border-bottom: 2px solid #114C5B;
}
.currentProject p {
    margin: 0;
}

.todoSection {
    display: none;
    flex-direction: column;
    width: 80vw;
    overflow: auto;
}
.todoItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 17rem));
    grid-gap: 2rem;
    justify-content: center;
}
.itemCard, .itemCardEditing {
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 1s ease;
}
.itemCard > .alterButtons, .itemCardEditing > .alterButtons {
    display: flex;
    justify-content: flex-end;
}
.itemCard {
    background-color: #114C5B;
    color: #BBB9BA;
    width: auto;
}
.itemCard img {
    filter: invert(87%) sepia(5%) saturate(68%) hue-rotate(277deg) brightness(89%) contrast(81%);
}
@keyframes itemTransition {
    0% {transform: translateY(-20%);}
    100% {transform: scale(1.1);}
}
.itemCardEditing {
    position: relative;
    width: 20rem;
    height: 10rem;
    align-self: center;
    z-index: 3;
    animation: itemTransition 2s;
    animation-fill-mode: forwards;
    
}
.itemCardEditing label,  .todoItemCreationInput label {
    color: #eeeeee;
    font-size: larger;
}
